mat-card {
    width: 360px;
    position: relative;
    z-index: 100;
    top: 200px;
    background: #fff;
    margin: 0 auto;
    opacity: 1;
}

.login-header {
    text-align: center;
}

.login-actions {
    margin-top: 15px;
}

.login-header .material-icons {
    font-size: 48px;
}

.login-social {
    margin-top: 15px;
    text-align: center;
}

.login-social .mat-icon-button {
    font-size: 24px;
}

.login-social-divider {
    margin-top: 15px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    color: #999;
}

.login-social-divider::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    background: #e5e5e5;
    height: 1px;
    width: 100%;
}

.login-social-divider span {
    background: #fff;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    font-size: 14px;
}

.login-footer {   
    padding-top: 15px; 
    text-align: center;
    color: #999;
    font-size: 14px;
}