/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize.css";
@import "~ionicons/dist/css/ionicons.css";
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.login-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/img/login-background.jpg");
    background-position: center top;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.facebook-background {
    background-color: #3b5998;
    color: #fff;
}

.google-plus-background {
    background-color: #dd4b39;
    color: #fff;
}

.linkedin-background {
    background-color: #4875B4;
    color: #fff;
}